/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {
	-fx-background-color: transparent;
	-fx-text-fill:white;
	/*-fx-border-width: 0px 0px 2px 0px;
	-fx-border-color: white;*/
}

.button:hover {
	-fx-text-fill:gray;
}

.list-cell {
	-fx-background-color: transparent;
	-fx-text-fill: white;
	-fx-border-width : 0px 0px 1px 0px;
	-fx-border-color : white;
	-fx-padding: 5px;
}

.text-field {
	-fx-text-fill: white;
}

.date-picker > .text-field {
	-fx-text-fill: black;
}

.table-cell {
	-fx-text-fill: white;
}

.table-row-cell {
	-fx-background-color: transparent;
	-fx-font-size: 14px;
	-fx-border-width : 0px 0px 1px 0px;
	-fx-border-color : white;
}

.table-column {
	-fx-alignment: CENTER;
}

#checkColumn{
	-fx-alignment: center-left;
}

/* Remove spacing */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: lightgray;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: #58379A;
    -fx-text-fill: white;
}
.text-area {
    -fx-background-color: rgba(53,89,119,0.4);
    -fx-text-fill: white;
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 1px;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: rgba(53,89,119,0.4);
    -fx-text-fill: white;
}

.scroll-pane > .content {
   -fx-background-color: transparent;
}

.scroll-pane {
	-fx-background-color: transparent;
}